<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/dist/main.css" />
    <script src="~/dist/feather.js"></script>
</head>
<body>
    <header>
        <vc:navbar />
    </header>

    <main>
        @RenderBody()
    </main>

    <vc:footer />
    <script src="~/dist/main.js" asp-append-version="true"></script>
</body>
</html>
