@model List<Faculty>

<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" asp-controller="Home" asp-action="Index">
            <img src="~/images/logo.svg" width="32" height="28" />
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a class="navbar-item">
                Головна @Model.Count
            </a>

            <div class="navbar-item has-dropdown is-hoverable is-mega">
                <div class="navbar-link">
                    Структура
                </div>
                <div id="blogDropdown" class="navbar-dropdown">
                    <div class="container is-fluid">
                        <div class="columns">
                            <div class="column">
                                @for (int i = 0; i < 8; i++)
                                {
                                    <h1 class="title is-6 is-mega-menu-title">@Model[i].Name</h1>
                                    @foreach (var dep in Model[i].Departments)
                                    {
                                        <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                                            <p>@dep.Name</p>
                                        </a>
                                    }
                                }
                            </div>

                            @*<div class="column">
            <h1 class="title is-6 is-mega-menu-title">Sub Menu Title</h1>
            <a class="navbar-item" asp-controller="Faculty" asp-action="Index">
                <div class="navbar-content">
                    <p>
                        <small class="has-text-info">03 Aug 2017</small>
                    </p>
                    <p>Факульет 1</p>
                </div>
            </a>
            <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                <div class="navbar-content">
                    <p>
                        <small class="has-text-info">03 Aug 2017</small>
                    </p>
                    <p>New feature: list of tags</p>
                </div>
            </a>
            <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                <div class="navbar-content">
                    <p>
                        <small class="has-text-info">03 Aug 2017</small>
                    </p>
                    <p>New feature: list of tags</p>
                </div>
            </a>
        </div>
        <div class="column">
            <h1 class="title is-6 is-mega-menu-title">Sub Menu Title</h1>
            <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                <div class="navbar-content">

                    <p>
                        <small class="has-text-info">03 Aug 2017</small>
                    </p>
                    <p>New feature: list of tags</p>
                </div>
            </a>
            <a class="navbar-item " href="/documentation/overview/start/">
                Overview
            </a>
            <a class="navbar-item " href="http://bulma.io/documentation/modifiers/syntax/">
                Modifiers
            </a>
            <a class="navbar-item " href="http://bulma.io/documentation/columns/basics/">
                Columns
            </a>
        </div>
        <div class="column">
            <h1 class="title is-6 is-mega-menu-title">Sub Menu Title</h1>
            <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                <div class="navbar-content">
                    <p>
                        <small class="has-text-info">03 Aug 2017</small>
                    </p>
                    <p>New feature: list of tags</p>
                </div>
            </a>
            <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                <div class="navbar-content">
                    <p>
                        <small class="has-text-info">03 Aug 2017</small>
                    </p>
                    <p>New feature: list of tags</p>
                </div>
            </a>
            <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                <div class="navbar-content">
                    <p>
                        <small class="has-text-info">03 Aug 2017</small>
                    </p>
                    <p>New feature: list of tags</p>
                </div>
            </a>

        </div>
        <div class="column">
            <h1 class="title is-6 is-mega-menu-title">Sub Menu Title</h1>
            <a class="navbar-item " href="/documentation/overview/start/">
                Overview
            </a>
            <a class="navbar-item " href="http://bulma.io/documentation/modifiers/syntax/">
                Modifiers
            </a>
            <a class="navbar-item " href="http://bulma.io/documentation/columns/basics/">
                Columns
            </a>
            <a class="navbar-item " href="http://bulma.io/documentation/layout/container/">
                Layout
            </a>
        </div>*@
                        </div>
                    </div>

                    <hr class="navbar-divider">
                    <div class="navbar-item">
                        <div class="navbar-content">
                            <div class="level is-mobile">
                                <div class="level-left">
                                    <div class="level-item">
                                        <strong>Stay up to date!</strong>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <a class="button bd-is-rss is-small" href="http://bulma.io/atom.xml">
                                            <span class="icon is-small">
                                                <i data-feather="rss" class="fi-18"></i>
                                            </span>
                                            <span>Subscribe</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <a class="navbar-item">
                Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact Contact Contact Contact Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
