@{
    ViewData["Title"] = "Головна";
}

<section class="section">
    <div class="container is-fluid">
        <h1 class="title">Головна</h1>
        <h2 class="subtitle">
            Опис
        </h2>
    </div>
</section>