@model Faculty
@{
    ViewData["Title"] = Model.Name;
}

<section class="section">
    <div class="container is-fluid">
        <h1 class="title">@Model.Name</h1>
        <h2 class="subtitle">
            Опис
        </h2>

        <span class="icon has-text-info">
            <i data-feather="home"></i>
        </span>
        <span class="icon has-text-success is-large">
            <i data-feather="github"></i>
        </span>

        <p>Hello</p>
    </div>
</section>