@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i&display=swap&subset=cyrillic');
$family-sans-serif: 'Nunito', sans-serif;

@import "../node_modules/bulma/bulma.sass";

// Meganavbar
.navbar-item.is-mega {
    position: static;

    .is-mega-menu-title {
        margin-bottom: 0;
        padding: .375rem 1rem;
    }
}

// Feather icon sizes
.fi-18 {
    width: 18px;
    height: 18px;
}

.fi-24 {
    width: 24px;
    height: 24px;
}

.fi-32 {
    width: 32px;
    height: 32px;
}